* {
  margin: 0.625em;
  padding: 0.625em;
  box-sizing: border-box;
}

.padre {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
}

.padre .header {
  background: #000;
  /* flex-direction + flex-wrap  = flex-flow: _ _;*/

  display: flex;
  flex-flow: column nowrap;
}

.padre .header .menu {
  background: #2d4059;

  display: flex;
  flex-flow: row nowrap;
  height: 6.25em;

  align-items: center;
}

.padre .header .menu .logo {
  background: #ea5455;
  /*
    flex-grow, flex-shrink, flex-basis
    flex: 1 1 auto;

    aparentemente solo el flex-grow tiene
    efecto y realiza el comportamiento deseado
  */

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  height: 1.875em;
}

.padre .header .menu .nav {
  background: #ea5455;

  flex-grow: 5;
  flex-shrink: 1;
  flex-basis: auto;

  height: 1.875em;
}

.padre .header .menu .social {
  background: #ea5455;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  height: 1.875em;
}

.padre .header .texto-principal {
  background: #f07b3f;
}

.padre .header .texto-principal h1 {
  background: #ffd460;
}

.padre .section {
  background: #000;

  display: flex;
}

.padre .section .articulos {
  background: #4e4e6a;

  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: auto;

  flex: 2 1 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.padre .section .articulos .article {
  background: #1f6cb0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  /*flex: 1 1 40%;*/
}

.padre .section .articulos .navegacion {
  background: #70a3c4;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  /*flex: 1 1 100%;*/
}

.padre .section .aside {
  background: #f73f52;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.padre .section .aside .publicidad {
  background: #ffea85;
}

.padre .footer {
  background: #000;
  display: flex;
  justify-content: center;
}

.padre .footer .pie {
  background: #e6afe2;
  width: 18.75em;
}

@media all and (max-width: 800px) {
  .padre .section {
    flex-direction: column;
  }

  .padre .header .menu {
    flex-direction: column;
    height: auto;
  }

  .aside {
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 600px) {
  .articulos {
    flex-direction: column;
  }
}

@media all and (max-width: 400px) {
  .aside {
    display: flex;
    flex-direction: column;
  }
}
