* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.padre {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.padre .header {
  background: #000;
  display: flex;
  /* flex-direction + flex-wrap */
  flex-flow: column nowrap;
}

.padre .header .menu {
  background: #2d4059;
  display: flex;
  flex-flow: row nowrap;
  height: 6.25em;

  align-items: center;
}

.padre .header .menu .logo {
  background: #ea5455;
  /*
    flex-grow, flex-shrink, flex-basis
    flex: 1 1 auto;

    aparentemente solo el flex-grow tiene
    efecto y realiza el comportamiento deseado
  */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  height: 1.875em;
}

.padre .header .menu .nav {
  background: #ea5455;
  flex-grow: 5;
  flex-shrink: 1;
  flex-basis: auto;

  height: 1.875em;
}

.padre .header .menu .social {
  background: #ea5455;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  height: 1.875em;
}

.padre .header .texto-principal {
  background: #f07b3f;
}

.padre .header .texto-principal h1 {
  background: #ffd460;
}

.padre .section {
  background: #000;
  display: flex;
}

.padre .section .articulos {
  background: #4e4e6a;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: auto;
}

.padre .section .articulos .article {
  background: #1f6cb0;
}

.padre .section .articulos .navegacion {
  background: #70a3c4;
}

.padre .section .aside {
  background: #a04a04;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.padre .section .aside .publicidad {
  background: #fde48f;
}

.padre .footer {
  background: #000;
}

.padre .footer .pie {
  background: #e6afe2;
}
